<div class="d-flex justify-content-between bg-dark text-light py-4 px-4">
    <div>
        <h2 class="fw-normal">About</h2>
        <p>
            We are Fusionic, a leading provider of cutting-edge fusion solutions. Our<br>
            mission is to create innovative and exceptional products and services that <br>
            cater to our customers' needs. With a team of dedicated professionals, 
            we <br> strive for excellence and customer satisfaction.
        </p>
    </div>
 
    <div>
        <h3 class="fw-normal">Shop</h3>
        <ul class="list-unstyled">
            <li><a class="text-decoration-none text-light" href="">Home</a></li>
            <li><a class="text-decoration-none text-light" href="">Button Up S'24</a></li>
            <li><a class="text-decoration-none text-light" href="">CARGOS S'24</a></li>
            <li><a class="text-decoration-none text-light" href="">SUMMER KNIT'24</a></li>
            <li><a class="text-decoration-none text-light" href="">WINTER KNIT'24</a></li>
            <li><a class="text-decoration-none text-light" href="">ABOUT US</a></li>
            <li><a class="text-decoration-none text-light" href="">SHOP</a></li>
        </ul>
    </div>
 
    <div>
        <h3 class="fw-normal">Info</h3>
        <ul class="list-unstyled">
            <li><a class="text-decoration-none text-light" href="">Search</a></li>
            <li><a class="text-decoration-none text-light" href="">Contact</a></li>
            <li><a class="text-decoration-none text-light" href="">Complaints And Queries</a></li>
            <li><a class="text-decoration-none text-light" href="">Exchange And Shipping </a></li>
            <li><a class="text-decoration-none text-light" href="">Track Order</a></li>
            <li><a class="text-decoration-none text-light" href="">Care Instructions</a></li>
        </ul>
    </div>
 
    <div>
        <div>
            <input type="email" placeholder="Enter your email">
            <button id="button">Join</button>
        </div>
    </div>
 </div>
 
 <div class="bg-dark text-light px-4 py-4">
     <i class="fa-brands fa-facebook px-1"></i>
     <i class="fa-brands fa-instagram px-1"></i>
     <i class="fa-brands fa-youtube px-1"></i>
     <i class="fa-brands fa-tiktok px-1"></i>
 </div>
 